<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/orderList.css" />
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.min.js"></script>
		<style>
			.mui-active{
				color:#086a8b !important;
				border-bottom:2px solid #086a8b !important;
			}
		    input[type=search] {
                border-radius:20px;
				width: 95%;
				height:30px;
				display: block;
				margin:auto;
				border:1px solid #e6e6e6;
            }
			.mui-slider{
				background:white ;
			}
			.mui-table-view-cell:after {
				height: 0px;
			}		
				input[type=search] {
    border-radius: 20px;
    width: 95%;
    height: 30px;
    display: block;
    margin: auto;
    background: #f5f5f5;
    color: #999;
}
.mui-input-row:after{
				background-color: #f2f2f2 !important;
			}
		</style>
	</head>
	<body onLoad="init();">
		<div class="mui-content" id="cont">
			<div style="background: white; height:4rem;padding-top:1rem;border-bottom: 1px solid #e6e6e6;">
				<input type="search" class="mui-input-clear" placeholder="输入订单编号/收货人/手机号码搜索">
			</div>
			<div id="slider" class="mui-slider c6">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a :class="'mui-control-item '+(type==0?'mui-active':'')" href="orderList.html?type=0">
						待付款
					</a>
					<a :class="'mui-control-item '+(type==1?'mui-active':'')" href="orderList.html?type=1">
						待提货
					</a>
					<a :class="'mui-control-item '+(type==2?'mui-active':'')" href="orderList.html?type=2">
						已提货
					</a>
					<a :class="'mui-control-item '+(type==3?'mui-active':'')" href="javascript:app.$data.showState=true;">
						更多状态
					</a>
				</div>
			</div>
			<div v-if="showState" style="position:absolute;width:100%;z-index: 999999;background: white;">
				<form class="mui-input-group">
					<template v-for="item in allStates">
						<div class="mui-input-row" :onclick="'selState('+item.id+')'">
							<label class="c3" style="font-size:0.9rem;">{{item.state}}</label>
						</div>
					</template>

				</form>
			</div>

			<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="top:110px;background: #f2f2f2;">
				<div class="mui-scroll">
					<!--数据列表-->
					<ul class="mui-table-view mui-table-view-chevron" style="background: #f2f2f2;">

						<template v-for="item in list">
							<li style="padding:0;margin-bottom: 1.5rem;" class="mui-table-view-cell mui-media  mui-collapse mui-collapse-content">

								<div class="rect">
									<div class="top">
										<div class="l1 c3">
											<div>{{item.userName}}</div>
											<div>{{item.state}}</div>
										</div>
										<div class="l2 c9">
											<div>{{item.time}}</div>
											<div>{{item.no}}</div>
										</div>
									</div>


									<div class="cont" :id="item.id">
										<template v-for="order in item.orders">
											<div class="order">
												<div class="left"><img :src="order.img"></div>
												<div class="right">
													<div class="detail c6">{{order.detail}}</div>
													<div class="sum c9">
														<div>￥{{order.money}}</div>
														<div>×{{order.num}}</div>
													</div>
												</div>
											</div>
										</template>

									</div>


									<div class="total c3">共{{item.num}}件商品 订单金额：￥{{item.total}}</div>

									<a class="closeOrder cblue" v-if="item.state == '待付款'" :href="'javascript:closeOrder('+item.id+')'">关闭订单</a>

								</div>
							</li>
						</template>
					</ul>
				</div>
			</div>


		</div>
		<!--下拉刷新容器-->

	</body>
</html>
<script>
	var app;

	var type = getQueryString("type");
	if (type == null) {
		type = 0;
	}
    function selState(id){
		app.$data.state = id;
		app.$data.showState = false;
		//自己加载数据刷新id getData();
	}
	var allStates = [{id:1,state:"退款中"},{id:2,state:"已退款"},{id:3,state:"已关闭"},{id:3,state:"已完成"}]
	function init() {
		app = new Vue({
			el: '#cont',
			data: {
				allStates:allStates,
				showState:false,
				state:'',//商品类型查询参数
				list: [],
				type: type,
				totalPage: 2,
				currentPage: 1
			}
		});



		mui.init({
			pullRefresh: {
				container: '#pullrefresh',
				down: {
					callback: pulldownRefresh
				},
				up: {
					contentrefresh: '正在加载...',
					callback: pullupRefresh
				}
			}
		});

		mui('#sliderSegmentedControl').on('tap', 'a', function() {
			location.href = this.href
		});

		getData();
	}

	/**
	 * 下拉刷新具体业务实现
	 */
	function pulldownRefresh() {
		setTimeout(function() {
			app.$data.currentPage = 1;
			getData();
			mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
			var flag = app.$data.currentPage == app.$data.totalPage ? true : false;

			mui('#pullrefresh').pullRefresh().endPullupToRefresh(flag); //参数为true代表没有更多数据了。
			mui("#pullrefresh").pullRefresh().refresh(!flag)
		}, 1500);
	}
	/**
	 * 上拉加载具体业务实现
	 */
	function pullupRefresh() {

		setTimeout(function() {
			app.$data.currentPage = app.$data.currentPage + 1;
			if (app.$data.currentPage > app.$data.totalPage) return;
			var flag = app.$data.currentPage == app.$data.totalPage ? true : false;
			mui('#pullrefresh').pullRefresh().endPullupToRefresh(flag); //参数为true代表没有更多数据了。
			getData();
		}, 1500);
	}
	//模拟数据
	var data = [];
	var data1 = [];
	for (var i = 0; i < 10; i++) {
		var item = {}
		item.id = i;
		item.userName = "大灿哥";
		item.state = Math.random() > 0.3 ? "待付款" : (Math.random() > 0.5 ? "待提货" : "已提货");
		item.time = "2019-09-08 12:00";
		item.no = "12316234";

		item.orders = [];
		var order = {};
		order.img = "../../imgs/def.png";
		order.detail = "实物商品夏季时尚洋气百搭条纹短袖妈妈洋气百搭条纹共30个文字";
		order.money = "23.02";
		order.num = 2;
		item.orders.push(order);

		item.num = 2;
		item.total = 23.02;

		data.push(item);
		var it = cloneObj(item);
		it.id = i + i + "";
		data1.push(it);

	}


	//加载数据
	function getData() {
		var dataSource;
		if (app.$data.currentPage == 1) {
			dataSource = data;
			while (app.$data.list.length > 0) {
				app.$data.list.splice(0, 1);
			}
		} else {
			dataSource = data1;
		}

		//返回数据记得重写 app.$data.totalPage = ;
		for (var i = 0; i < dataSource.length; i++) {
			app.$data.list.push(dataSource[i]);
		}

		mui('body').on('tap', 'a', function() {
			eval(this.href);

		});

		mui('body').on('tap', '.cont', function() {
			//自己跳转  alert(this.id);
			location.href = "orderDetail.html?id=" + this.id;
		});

		// 		var path = "";
		// 		var pars =  {},
		// 		mui.ajax(path, {
		// 			data:pars,
		// 			type: 'post', //请求方式,一般情况get和post都可以
		// 			timeout: 10000, //10秒超时
		// 			success: function(data) {
		// 
		// 			},
		// 			error: function(xhr, type, errorThrown) {
		// 				mui.toast("服务器内部错误!");
		// 				console.log('error:' + type);
		// 			}
		// 		})
	}
	//关闭订单
	function closeOrder(id) {
		//id 自己后台删

		for (var i = 0; i < app.$data.list.length; i++) {
			if (app.$data.list[i].id == id) {
				app.$data.list.splice(i, 1);
			}
		}

	}


	function cloneObj(item) {

		return JSON.parse(JSON.stringify(item));
	}

	function getQueryString(name) {
		var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
		var r = window.location.search.substr(1).match(reg);
		if (r != null) {
			return unescape(r[2]);
		}
		return null;
	}
</script>
